<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TacticalAgro.Paths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TacticalAgro.Path" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TacticalAgro.Paths>
            <setting name="Maps" serializeAs="String">
                <value>G:\GosPlan\Arbeiten\Kreation\Diplom\TacticalAgro\TacticalAgro\Analyzing\Maps</value>
            </setting>
            <setting name="Tests" serializeAs="String">
                <value>G:\GosPlan\Arbeiten\Kreation\Diplom\TacticalAgro\TacticalAgro\Analyzing\Tests</value>
            </setting>
            <setting name="Results" serializeAs="String">
                <value>G:\GosPlan\Arbeiten\Kreation\Diplom\TacticalAgro\TacticalAgro\Analyzing\Results</value>
            </setting>
        </TacticalAgro.Paths>
        <TacticalAgro.Path>
            <setting name="Maps" serializeAs="String">
                <value />
            </setting>
            <setting name="Tests" serializeAs="String">
                <value />
            </setting>
            <setting name="Results" serializeAs="String">
                <value />
            </setting>
        </TacticalAgro.Path>
    </userSettings>
</configuration>