<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TacticalAgro.Analyzing.Testing" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TacticalAgro.Paths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TacticalAgro.Path" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TacticalAgro.Analyzing.Testing" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TacticalAgro.Analyzing.Testing>
            <setting name="AttemptsMax" serializeAs="String">
                <value>10</value>
            </setting>
        </TacticalAgro.Analyzing.Testing>
        <TacticalAgro.Paths>
            <setting name="Maps" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Tests" serializeAs="String">
                <value></value>
            </setting>
            <setting name="Results" serializeAs="String">
                <value></value>
            </setting>
        </TacticalAgro.Paths>
        <TacticalAgro.Path>
            <setting name="Maps" serializeAs="String">
                <value />
            </setting>
            <setting name="Tests" serializeAs="String">
                <value />
            </setting>
            <setting name="Results" serializeAs="String">
                <value />
            </setting>
        </TacticalAgro.Path>
    </userSettings>
    <applicationSettings>
        <TacticalAgro.Analyzing.Testing>
            <setting name="K_s" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="K_v" serializeAs="String">
                <value>0.2</value>
            </setting>
        </TacticalAgro.Analyzing.Testing>
    </applicationSettings>
</configuration>