<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRDS.Analyzing.Testing" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SRDS.Paths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRDS.Analyzing.Testing" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SRDS.Analyzing.Testing>
            <setting name="AttemptsMax" serializeAs="String">
                <value>250</value>
            </setting>
        </SRDS.Analyzing.Testing>
        <SRDS.Paths>
            <setting name="Maps" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Tests" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Results" serializeAs="String">
                <value>""</value>
            </setting>
        </SRDS.Paths>
    </userSettings>
    <applicationSettings>
        <SRDS.Analyzing.Testing>
            <setting name="K_s" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="K_v" serializeAs="String">
                <value>0.2</value>
            </setting>
        </SRDS.Analyzing.Testing>
    </applicationSettings>
</configuration>